// Insert your styling here.

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}


h1 {
  font-weight: 600;
}

h3 {
  font-weight: 300;
}


.btn {
  span {
    font-size: 24px;
    vertical-align: inherit;
  }

  &.btn-lg {
    -webkit-box-shadow: 0px 4px 0px @btn-shadow;
    -moz-box-shadow: 0px 4px 0px @btn-shadow;
    box-shadow: 0px 4px 0px @btn-shadow;
    &:active {
      -webkit-box-shadow: 0px 4px 0px @btn-shadow;
      -moz-box-shadow: 0px 4px 0px @btn-shadow;
      box-shadow: 0px 4px 0px @btn-shadow;
    }
  }
}


.item {
  height: 340px;
//  width: 302px;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 15px;
  .border-top-radius(6px);
  .border-bottom-radius(6px);
  .border-left-radius(6px);
  .border-right-radius(6px);

  &#facebook {
    background-color: #3A5898;
  }
  &#instagramm {
    background-color: #3D739C;
  }
  &#twitter {
    background-color: #28C5F6;
  }
  &#youtube {
    background-color: #DE332C;
  }
  &#odnoklassniki {
    background-color: #F2812E;
  }
  &#vk {
    background-color: #4C75A3;
  }
  &#mailru {
    background-color: #158DE2;
  }
  &#googleplus {
    background-color: #CF3323;
  }
  &#vine {
    background-color: #37A97B;
  }
}