// Insert your styling here.

footer {
  background-color: @footer-bg;
  position: relative;
  margin-top: -420px;
  height: 450px;
  clear: both;
  color: @component-active-color;
  padding-top: 10px;

  .footer {
    width: 100%;
    background-color: @footer-dark-bg;
    height: 80px;
    position: absolute;
    bottom: 0;
  }

  .content {
    text-align: center;
  }

  .icon-award {
    font-size: 120px;
    padding-bottom: 30px;
  }
  h4 {
    margin-top: 0;
  }

  h2 {
    font-weight: 400;
  }
}


#push, footer {
  min-height: 450px;
  height: auto;
}
