// Insert your styling here.

footer {
  background-color: #1B2C4F;
  position: relative;
  margin-top: -350px;
  height: 350px;
  clear: both;
  color: #ffffff;
}


#push, footer {
  height: 350px;
}