// Insert your styling here.

#top-top {
  height: 40px;
  background-color: @footer-dark-bg;
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #AAB3C5;
    padding-left: 0;
    &:hover {
      background-color: transparent;
    }
  }

  span.info {
    padding-top: 8px;
    position: absolute;
    display: block;
    font-size: @font-size-large - 2;
    font-weight: 300;
    color: #AAB3C5;
  }

  .nav  {
    .open  {
      a {
        background-color: transparent;
        &:focus, &:hover {
          background-color: transparent;

        }
      }
    }

    .dropdown {
      .dropdown-menu {
        min-width: 0 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color:@footer-dark-bg ;
        margin-left: -20px;
        li > a {
          color:#AAB3C5;
        }
      }
      }

  }
}

#top-nav {
  background-color: @footer-bg;

  .navbar-nav > li > a{
    padding-top: 6px;
    padding-bottom: 6px;
    color:@component-active-color;
    &:hover {
      background: transparent;
    }

    &.btn-primary {
      &:hover {
        background-color: @btn-primary-border;
        border-color: @btn-primary-border;
        -webkit-box-shadow: 0px 3px 0 darken(@btn-primary-border, 10%);
        -moz-box-shadow: 0px 3px 0 darken(@btn-primary-border, 10%);
        box-shadow: 0px 3px 0 darken(@btn-primary-border, 10%);
      }
      -webkit-box-shadow: 0px 2px 0 @btn-primary-border;
      -moz-box-shadow: 0px 2px 0 @btn-primary-border;
      box-shadow: 0px 2px 0 @btn-primary-border;
    }
    &.btn-info {
      &:hover {
        background-color: @btn-info-border;
        border-color: @btn-info-border;
        -webkit-box-shadow: 0px 3px 0 darken(@btn-info-border, 10%);
        -moz-box-shadow: 0px 3px 0 darken(@btn-info-border, 10%);
        box-shadow: 0px 3px 0 darken(@btn-info-border, 10%);
      }
      -webkit-box-shadow: 0px 2px 0 @btn-info-border;
      -moz-box-shadow: 0px 2px 0 @btn-info-border;
      box-shadow: 0px 2px 0 @btn-info-border;
    }
  }


.navbar-brand {
  display: inline-block;
  height: 76px;
  background-repeat: no-repeat;
  background-position: 0 14px;
  margin-right: 17px;
  width: 100%;
  .img-retina("@{base-url}/img/logo.png", "@{base-url}/img/logo@2x.png", 58px, 64px);
  margin-left: 1px;
  span {
    color: @component-active-color;
    font-weight: bold;
    padding-left: 42px;
    position: relative;
    top: 23px;
    font-size: @font-size-large + 6;
  }
}

//  TODO

#top-right-nav {
  position: relative;
  /* display: block; */
  top: 18px;
}

  span {
    &#rocket {
      color: @brand-accent;
      position: static;
      padding-left: 0;
    }
  }

  ul {
    margin-top: 26px;
  }

}

i.fa.fa-caret-down {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: -1px;
}